<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bootstrap 4 Starter</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="home">

  <!-- NAV -->
  <nav class="navbar navbar-toggleable navbar-inverse bg-inverse fixed-top py-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a href="#" class="navbar-brand">
          <img class="mr-1" src="img/jbm-logo-white.png" alt="" height="50" width="50">
          <h4 class="d-inline text-lowercase"> Studio Psicologico</h4>
        </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#therapy-head" class="nav-link">Therapy & Service</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">


          <div class="row">

            <div class="col-md-8 d-none d-md-block">
              <h1 class="display-4">Therapeutic Solutions to Restore <strong>Wellbeing</strong></h1>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start"><i class="fa fa-check"></i></div>
                <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi accusamus repellat sint dolorem commodi esse, iure nam quas iste.</div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start"><i class="fa fa-check"></i></div>
                <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi accusamus repellat sint dolorem commodi esse, iure nam quas iste.</div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start"><i class="fa fa-check"></i></div>
                <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi accusamus repellat sint dolorem commodi esse, iure nam quas iste.</div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-primary card-form text-center">
                <div class="card-block">
                  <h1>Alessandro Macchini</h1>
                  <p>Via Santo Stefano, 50, 40125 Bologna BO</p>
                  <p class="lead">+39 331 339 2716</p>
                  <hr>
                  <h3>Get Started Now</h3>
                  <p class="lead">the time to heal is now</p>
                  <button class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#contactModal">Get in Touch</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTACT MODAL IN HEADER -->
<div class="modal fade text-center" id="contactModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact Me</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="name">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber">
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea name="" id="message" class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


  <!-- THERAPY HEAD -->
  <section id="therapy-head">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-5">
            <h1 class="display-4">Therapy</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis odit harum eligendi nisi architecto repudiandae porro, numquam expedita accusamus laboriosam.</p>
            <a href="#" class="btn btn-outline-secondary">Find Out More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- THERAPY -->
  <section id="therapy-section" class="bg-faded text-muted py-5">
    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <p class="display-4 text-center">Terapia Generale</p>
          <hr>
          <p class="lead text-center mt-5">Problemi Familiari</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</div>
          </div>
          <p class="lead text-center">Crisi Personali</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</div>
          </div>
        </div>

        <div class="col-md-6">
          <p class="display-4 text-center">Pathological Specialties</p>
          <hr>
          <p class="lead text-center mt-5">Disturbi Alimentari</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</div>
          </div>
          <p class="lead text-center">Depressione Cronica</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <!-- ABOUT HEAD -->
  <section id="about" class="bg-faded text-muted py-5">
    <div class="container">
      <div id="about-head" class="my-4">
        <div class="row">
          <div class="col text-center">
            <div class="py-5 card">
              <div class="card-block">
                <h1 class="display-4">A. Macchini</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis odit harum eligendi nisi architecto repudiandae porro, numquam expedita accusamus laboriosam.</p>
                <a href="#" class="btn btn-primary btn-lg">Il mio CV</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ABOUT SECTION -->
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </section>

    <!-- CONTACT -->
    <section id="contact" class="bg-faded text-muted py-5">


    <div class="container">

      <hr>
      <br>

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ea, quasi. Nobis, illo a laborum atque repudiandae quis eum autem!</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <p>Orari di ricevimento:</p>
                  <hr>
                  <p>lunedi: chiuso</p>
                  <p>martedi: 14-18</p>
                  <p>mercoledi: 14-18</p>
                  <p>giovedi: 14-18</p>
                  <p>venerdi: chiuso</p>
                  <p>sabato: chiuso</p>
                  <p>domenica: chiuso</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-2">
            <div class="card-block">
              <div class="d-flex flex-row">
                <iframe
                  width="600"
                  height="385"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDfUFyEkT9-XZfFIT1A972MYbCvXcwcdS0&q=Via+Santo+Stefano+50+40125+Bologna" allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- FOOTER -->
    <footer id="main-footer" class="py-5 bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 offset-md-6">
            <p class="lead">Web Design | Copyright &copy; 2017 <a class="text-white" href="http://www.jbmdesigns.com">jbm Designs <img src="../img/jbm-logo-white.png" height="100" width="100" class="d-inline" alt=""></a></p>

          </div>
        </div>
      </div>
    </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>
